* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  min-height: 100vh;
  display: flex;
}

#column-one {
  width: 55%;
  padding-left: 3.5rem;
  padding-right: 0.7rem;
}

#column-one header img {
  width: 165px;
  margin-top: 1.5rem;
}

#column-one header img:hover {
  cursor: pointer;
}

#column-one img {
  width: 675px;
  height: auto;
  margin-top: 4rem;
}

#column-two {
  width: 45%;
  padding: 10px 1.25rem;
}

#column-two h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
  margin-top: 10rem;
  margin-bottom: 1.25rem;
  padding-right: 3rem;
}

#column-two p {
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
  line-height: 25px;
  margin-bottom: 1.25rem;
  padding-right: 4rem;
}

#column-two button {
  appearance: none;
  border: none;
  width: 32%;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 15px;
  font-weight: 500;
  color: hsl(257, 40%, 49%);
  background-color: white;
}

#column-two button:hover {
  color: white;
  background-color: hsl(300, 69%, 71%);
  cursor: pointer;
  box-shadow: 0 0 10px rgb(43, 37, 37);
}

footer {
  margin-left: 70%;
  margin-top: 9rem;
  display: flex;
}

.icons {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.icons:hover {
  color: hsl(300, 69%, 71%);
  border: 2px solid hsl(300, 69%, 71%);
  cursor: pointer;
}

/* Responsive CSS */

@media screen and (max-width: 375px) {
  body {
    background-image: url(images/bg-mobile.svg);
    padding: 20px;
    width: 375px;
    flex-direction: column;
  }

  .column {
    min-height: auto;
  }

  #column-one {
    width: 100%;
    padding: 0;
  }

  #column-one header img {
    width: 130px;
  }

  #column-one img {
    width: 325px;
    margin-left: 6px;
  }

  #column-two {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  #column-two h2 {
    font-size: 1.55rem;
    margin-top: 3rem;
    padding-right: 0;
  }

  #column-two p {
    font-size: 0.9rem;
    padding: 0 30px;
    margin-bottom: 1.25rem;
  }

  #column-two button {
    width: 65%;
    padding: 0.7rem;
    border-radius: 3rem;
    font-size: 14px;
    margin-top: 10px;
  }

  .icons {
    width: 2.05rem;
    height: 2.05rem;
    position: static;
    margin-right: 12px;
  }

  footer {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.65rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}
